html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #101010;
}
#root {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.sippy-container {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1300px;
}
.sippy-container-column {
  flex-direction: column;
  align-items: center;
  
}